.example-spacer {
    flex: 1 1 auto;
    text-align: center;
}

.credits {
    font-size: 15px;
}

.vert {
    background-color: white;
    width: 3px;
    margin: 15px;
    height: 70%;
}

.mat-toolbar.mat-primary {
    background: #1a1a1a;
}