<p>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon> 
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/introducao']">Introdução/Aspetos Básicos</button>
            <button mat-menu-item [routerLink]="['/databinding']">Data Binding</button>
            <button mat-menu-item [routerLink]="['/angularcli']"> Angular CLI</button>
            <button mat-menu-item [routerLink]="['/diretivas']"> Diretivas</button>
            <button mat-menu-item [routerLink]="['/servicos']">Serviços</button>
            <button mat-menu-item [routerLink]="['/pipes']">Pipes (filtros)</button>
            <button mat-menu-item [routerLink]="['/rotas']">Rotas</button>
            <button mat-menu-item [routerLink]="['/formularios-templatedriven']">Formulários (Template Driven)</button>
            <button mat-menu-item [routerLink]="['/formularios-reativos-datadriven']">Formulários Reativos (Data Driven)</button>
            <button mat-menu-item [routerLink]="['/http']">HTTP</button>
            <button mat-menu-item [routerLink]="['/depuracao-debug']">Depuração/Debug</button>
            <button mat-menu-item [routerLink]="['/build-e-deploy']">Build e Deploy</button>
        </mat-menu>
        <span> {{ title }} </span>
        <span class="example-spacer"> </span>
        <div class="vert"> </div>
        <span class="credits"> Made with <mat-icon color="warn"> favorite </mat-icon> by Rúben S. </span>
    </mat-toolbar>
</p>