<h1> Data Binding </h1>
<hr>
<br> <br>

<mat-tab-group animationDuration="0ms">
    <mat-tab label="Property Binding e Interpolação">
        <br> 
        <div class="d2 p1">
            <h3> Interpolação (com Two-Way-Data-Binding) </h3>
            <hr>
            <br>
            <p class="texto"> <b> URL da Steam: </b> {{ steam }}. 
                <span class="texto t2"> <i> (interpolação) </i> </span>
            </p>
            <p class="texto"> <b> O meu nome completo: </b> {{ nome }}.
                <span class="texto t2"> <i> (interpolação) </i> </span>
            </p>
            <p class="texto"> <b> Calculadora: </b> 
                <input class="input" type="number" [(ngModel)]="n1" (change)="getValor()"> 
                +
                <input class="input" type="number" [(ngModel)]="n2" (change)="getValor()"> 
            </p>
            <div>
                <div class="d2 i1">
                    <p class="texto"> <b> Resultado: </b> {{ resultado }} </p>
                </div>
                <div class="d2 i1">
                    <p class="texto t2 right"> <i> (interpolação + Two-Way-Data-Binding) </i> </p>
                </div>  
            </div>
            <br clear="left"> <br>
            <p class="texto t2"> (conteúdo retirado do ficheiro <i> <b> Typescript </b> </i> do respetivo componente)</p>
        </div>
        <div class="d2">
            <h3> Property Binding </h3>
            <hr>
            <br>
            <p class="texto"> Exemplo de utilização do <i> <b> Property Binding </b> </i> com uma imagem. </p>
            <br>
            <img class="imagem" [src]="imagem">
        </div>
    </mat-tab>



    <mat-tab label="Class e Style Binding"> 
        <br>
        <p class="texto"> Introduza a <b> cor </b> que deseja para preencher o círculo abaixo. </p> 
        <div class="cc">
            <mat-form-field appearance="fill">
                <mat-label> Cor </mat-label>
                <mat-select #color (change)="0">
                    <mat-option *ngFor="let cor of cores" [value]="cor.value">
                        {{cor.ViewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br> 
            <div class="circulo" 
                [class.vermelho]="color.value == 'red'"
                [class.azul]="color.value == 'blue'"
                [class.amarelo]="color.value == 'yellow'"
                [class.verde]="color.value == 'green'"
                [class.laranja]="color.value == 'orange'">
            </div>
        </div>
    </mat-tab>



    <mat-tab label="Event Binding"> 
        <br>
        <div class="d2 p1">
            <h3> Evento <i> keyup </i> </h3>
            <hr>
            <br>
            <p class="texto t2"> (texto automático) </p>
            <p class="texto"> Olá! O meu nome é {{ nome2 }} e tenho {{ idade }} anos. </p>
            <br>
            <p class="texto"><b> Dados: </b>
                <input class="input" type="text" placeholder="Nome" (keyup)="setNome($event.target.value)">
                <input class="input" type="number" placeholder="Idade" (keyup)="setIdade($event.target.value)">
            </p>
        </div>
        <div class="d2">
            <h3> Eventos <i> mouseover </i> e <i> mouseout </i></h3>
            <hr>
            <br>
            <p 
                class="texto" 
                (mouseover)="mouseOverOrOut()" 
                (mouseout)="mouseOverOrOut()"
                [class.t3]="mouseover"> 
                Passa o <i> mouse </i> em cima de mim. 
            </p>
        </div>
    </mat-tab>

    <mat-tab label="Input e Output Properties"> 
        <br>
        <div class="d2 p1">
            <h3> Input Properties </h3>
            <p class="texto t2"> (passagem de informação do componente pai para o componente filho)</p>
            <hr>
            <br>
            <p class="texto"> <b> Frase: </b> 
                <input 
                    class="input" 
                    type="text" 
                    [ngModel]="frase"
                    (ngModelChange)="frase = $event"
                    placeholder="Introduza aqui texto">
            </p>
            <br>
            <hr>
            <p class="texto t2"> (componente filho) </p>
            <app-input-component [frase]="frase"> </app-input-component>
        </div>
        <div class="d2">
            <h3> Output Properties </h3>
            <p class="texto t2"> (passagem de informação do componente filho para o componente pai)</p>
            <hr>
            <br>
            <app-output-component valor="10" (mudouValor)="onMudouValor($event)"> </app-output-component>
            <br>
            <p class="texto t2"> (log)</p>
            <p class="texto" *ngFor="let i of logs"> {{ i }} </p>
        </div>
    </mat-tab>
</mat-tab-group>
