.imagem {
    width: 400px;
    height: 229px;
    border: 1px solid black;
}

.circulo {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.circulo.vermelho {
    background-color: red;
}

.circulo.azul {
    background-color: blue;
}

.circulo.amarelo {
    background-color: yellow;
}

.circulo.verde {
    background-color: green;
}

.circulo.laranja {
    background-color: orange;
}

.cc {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 201px;
}


