<p>
    <button mat-fab color="primary" (click)="decrementa()"> - </button>
    <input class="input i2" type="number" [value]="value" readonly>
    <button mat-fab color="primary" (click)="incrementa()"> + </button>
</p>
