<h1> Build e Deploy </h1>
<hr>
<br> <br>

<mat-tab-group animationDuration="0ms">
     <mat-tab label="First"> 
        <br> Content 1 
     </mat-tab>
    <mat-tab label="Second"> 
        <br> Content 2 
    </mat-tab>
    <mat-tab label="Third"> 
        <br> Content 3 
    </mat-tab>
</mat-tab-group>