/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.d2 {
    width: 48%;
    float: left;
}

.d2.p1 {
    margin-right: 4%;
}

.d2.i1 {
    width: 50%;
}

.texto {
    font-size: 14px;
}

.texto.t2 {
    color: gray;
}

.texto.t2.right {
    text-align: right;
}

.texto.t3 {
    font-size: 18px;
    background-color: yellow;
    color: blue;
}

.input {
    height: 25px;
    margin-left: 8px;
    margin-right: 8px;
}

.input.i2 {
    text-align: center;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #5bb53f;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #297fcf;
}


